<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time File Sharing</title>
</head>

<body>

    <!-- <button  href="/auth/google">Sign In with Google</button> -->
    <h1>Google Oauth 2 with Passportjs</h1>
    <a href="/auth/google/">Login with Google</a>

    <!-- <script>
        function signInWithGoogle() {
            window.location.href = '/oauth2/redirect/google';
        }
    </script> -->
</body>

</html>